<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 该文件存放CRUD的sql语句 -->
<mapper namespace="com.example.demo.mapper">

    <select id ="findByName" parameterType="string" resultType="user">
	SELECT 	NAME,
		PASSWORD
		FROM
		user where name = #{value}
	</select>


</mapper>